body#contact {

	.col-offices {
		@include span(5);
		padding-right: 30px;

		article {
			padding: 40px 40px 20px 40px;
			background: $contrast;
			margin-bottom: 10px;

			h2 { @include fontsize(20); margin-bottom: 20px; }

			@include navlink();

			a {
				color: $secondary;
				font-family: 'Proxima Nova Bold';
			}
		}
	}

	.col-form {
		@include span(7 last);

		.form-box {
			margin-top: 0px;
		}
	}

}